.pagination {
  display: flex;
  align-items: center;
  padding: 20px 0;
  column-gap: 20px;

  &__item {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #1875f0;
    cursor: pointer;
    &:hover,
    &.active {
      background: #1875f0;
      color: #fff;
    }
  }
  @media screen and (max-width: 576px) {
    justify-content: center;
  }
}
