.back {
  top: 20px;
  left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;

  &__text {
    font-size: 18px;
    line-height: 117%;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
}
